
header .container-fluid {
    padding-top: 0;
    padding-bottom: 0;
}
.small, small {
    font-size: 70%;
}
b, strong {
    font-weight: bold;
}
.badge {
    font-size: 85%;
}
a:hover {
    text-decoration: underline;
}
.form-control{
	 color: #000;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}
.dataTables_length{
    padding-top: 10px;
    padding-left: 10px;
}
.btn-outline-secondary:hover {
    color: #fff !important;
}
.btn-group label.btn-outline-danger {
   color: #f62d51 !important;
}
.btn-group label.btn-outline-info {
   color: #009efb !important;
}
.btn-group label.btn-outline-danger:hover,
.btn-group label.btn-outline-danger.active,
.btn-group label.btn-outline-info:hover,
.btn-group label.btn-outline-info.active,
.btn-group label.btn-outline-secondary.active{
   color: #fff !important;
}
.col_1st_center th:first-child,
.col_1st_center td:first-child,
.col_1ast_center th:last-child,
.col_1ast_center td:last-child,
.col_3_center td:nth-child(3),
.col_4_center th:nth-child(4),
.col_4_center td:nth-child(4),
.col_5_center th:nth-child(5),
.col_5_center td:nth-child(5),
.col_6_center th:nth-child(6),
.col_6_center td:nth-child(6){
   text-align: center;
}
.col_3_right th:nth-child(3),
.col_3_right td:nth-child(3),
.col_4_right th:nth-child(4),
.col_4_right td:nth-child(4),
.col_5_right th:nth-child(5),
.col_5_right td:nth-child(5),
.col_6_right th:nth-child(6),
.col_6_right td:nth-child(6),
.col_1ast_right td:last-child{
   text-align: right;
}
.list-group-item{
   border-radius: 0 !important;
}
.code_text{
	font-family: 'Courier New', 'Courier', 'Consolas';
}
.badge{
	border-radius: 0.5;
}
.swal2-popup.swal2-modal.swal2-show,
.swal2-popup.swal2-modal.swal2-show button.swal2-styled,
.progress,
.custom-file-label,
.card,
.btn,
.form-control,
.input-group-text,
.alert{
   border-radius: 0;
}

.pt0{
   padding-top: 0;
}
.pb0{
   padding-bottom: 0;
}

.card .card-block{
   padding: 15px;
}
aside.left-sidebar{
   position: fixed;
}
.table tr .actions{
   display: none;
}
.table tr:hover .actions{
   display: block;
}
.table-hover tbody tr:hover {
    background: #ffeeba5e;
}

.alert ul{
    margin: 0;
}

.sidebar-nav a:hover{
   text-decoration: none;
}
.sidebar-nav ul li a {
    padding-left: 10px;
}
/* !!!!!!!!!! Switch !!!!!!!!! */
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
/* !!!!!!!!!! / Switch !!!!!!!!! */

.user_assigning{
   height: 400px;
   overflow: auto;
}
.ui-sortable-handle{
   cursor: grab;
}
.ui-sortable-handle:active{
   cursor: grabbing;
}
#users2assign_in{
   border: 2px dashed #eeeeee;
   min-height: 200px;
   background: #00aeef;
}
#users2assign_in li{
   background-color: rgba(255,255,255,0.2);
   color: #fff;
   font-weight: bolder;
}
#users2assign_in li.ui-sortable-helper{
   color: black;
}

.card-header .card-title{
    margin-bottom: 0;
}
.accordion .card-header:after {
   font-family: 'FontAwesome';
   content: "\f068";
   float: right;
}
.accordion .card-header.collapsed:after {
   /* symbol for "collapsed" panels */
   content: "\f067";
}


.pic_prev{
   border: 2px dashed #ddd;
   width: 100%;
   background-color: #eee;
   margin-top: 10px;
}

.fade.in {
   opacity: 1;
}

.table td{
   vertical-align: middle;
}
.table form{
    display: inline;
}

.report_upload_tbl td{
   padding: 1px;
}
.report_upload_tbl td span.size{
   font-size: 0.9rem;
}
.report_upload_tbl td p{
   margin-bottom: 0.1rem;
   font-size: 0.9rem;
   font-weight: 400;
}
.ui-datepicker td {
   padding: 0px !important;
}

.card-body .card{
   border: 1px solid #ddd;
}

#users_table tr.table-warning{
   position: relative;
}
#users_table tr.table-warning:after{
   content: '';
   width: 30px;
   height: 30px;
   position: absolute;
   right: -15px;
   background: #ffeeba;
   -ms-transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   transform: rotate(45deg);
   margin-top: 8px;
}


.form-control::placeholder {
   color: #ccc;
   font-style: italic;
}
.task_move{
   cursor: move !important;
}
.task_move{
   display: none;
}
.task_detail{
   visibility: hidden;
}
.task_list_item:hover .task_move{
   display: block;
}
.task_list_item:hover .task_detail{
   visibility: visible;
}


.loading_spinning{
   display: inline-block;
   -webkit-animation-name: spin;
   -webkit-animation-duration: 500ms;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
   -moz-animation-name: spin;
   -moz-animation-duration: 500ms;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: linear;
   -ms-animation-name: spin;
   -ms-animation-duration: 500ms;
   -ms-animation-iteration-count: infinite;
   -ms-animation-timing-function: linear;

   animation-name: spin;
   animation-duration: 500ms;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

@-ms-keyframes spin {
   from { -ms-transform: rotate(0deg); }
   to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
   from { -moz-transform: rotate(0deg); }
   to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
   from { -webkit-transform: rotate(0deg); }
   to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
   from {
      transform:rotate(0deg);
   }
   to {
      transform:rotate(360deg);
   }
}


.toast{
    position: fixed; top: 70px; right: 30px;opacity: 1;z-index: 99;
    background: #fff;
    border: 1px solid;
    border-radius: 0;
}
.toast .lbl_color{
    height: 20px;width: 20px;
}

.toast.success{
    -webkit-box-shadow: 0px 0px 14px 2px limegreen;
    -moz-box-shadow: 0px 0px 14px 2px limegreen;
    box-shadow: 0px 0px 14px 2px limegreen;
}
.toast.success,
.toast.success .toast-header{
    border-color: limegreen;
}
.toast.success .lbl_color{
     background: limegreen;
}

.toast.info{
    -webkit-box-shadow: 0px 0px 14px 2px #00b2ce;
    -moz-box-shadow: 0px 0px 14px 2px #00b2ce;
    box-shadow: 0px 0px 14px 2px #00b2ce;
}
.toast.info,
.toast.info .toast-header{
    border-color: #00b2ce;
}
.toast.info .lbl_color{
    background: #00b2ce;
}


.topbar,
.card-no-border .left-sidebar, .btn-primary{
/*
    background: #009efb;
    background: -moz-linear-gradient(left, #0178bc 0%, #00bdda 100%);
    background: -webkit-linear-gradient(left, #0178bc 0%, #00bdda 100%);
    background: radial-gradient(circle, rgb(255 0 0) 0%, rgba(0,129,15,1) 80%);*/

background: rgba(0,129,15,1);
background: -moz-linear-gradient(-45deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 11%, rgba(255,20,20,1) 51%, rgba(255,20,20,1) 51%, rgba(0,129,15,1) 94%, rgba(0,129,15,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,129,15,1)), color-stop(11%, rgba(0,129,15,1)), color-stop(51%, rgba(255,20,20,1)), color-stop(51%, rgba(255,20,20,1)), color-stop(94%, rgba(0,129,15,1)), color-stop(100%, rgba(0,129,15,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 11%, rgba(255,20,20,1) 51%, rgba(255,20,20,1) 51%, rgba(0,129,15,1) 94%, rgba(0,129,15,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 11%, rgba(255,20,20,1) 51%, rgba(255,20,20,1) 51%, rgba(0,129,15,1) 94%, rgba(0,129,15,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 11%, rgba(255,20,20,1) 51%, rgba(255,20,20,1) 51%, rgba(0,129,15,1) 94%, rgba(0,129,15,1) 100%);
background: linear-gradient(135deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 11%, rgba(255,20,20,1) 51%, rgba(255,20,20,1) 51%, rgba(0,129,15,1) 94%, rgba(0,129,15,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00810f', endColorstr='#00810f', GradientType=1 );
}
.btn-primary{
	border-color: green;
}
.btn-primary:hover{

	background: rgba(0,129,15,1);
	background: -moz-linear-gradient(45deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 11%, rgba(255,20,20,1) 51%, rgba(255,20,20,1) 51%, rgba(0,129,15,1) 94%, rgba(0,129,15,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,129,15,1)), color-stop(11%, rgba(0,129,15,1)), color-stop(51%, rgba(255,20,20,1)), color-stop(51%, rgba(255,20,20,1)), color-stop(94%, rgba(0,129,15,1)), color-stop(100%, rgba(0,129,15,1)));
	background: -webkit-linear-gradient(45deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 11%, rgba(255,20,20,1) 51%, rgba(255,20,20,1) 51%, rgba(0,129,15,1) 94%, rgba(0,129,15,1) 100%);
	background: -o-linear-gradient(45deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 11%, rgba(255,20,20,1) 51%, rgba(255,20,20,1) 51%, rgba(0,129,15,1) 94%, rgba(0,129,15,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 11%, rgba(255,20,20,1) 51%, rgba(255,20,20,1) 51%, rgba(0,129,15,1) 94%, rgba(0,129,15,1) 100%);
	background: linear-gradient(135deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 11%, rgba(255,20,20,1) 51%, rgba(255,20,20,1) 51%, rgba(0,129,15,1) 94%, rgba(0,129,15,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00810f', endColorstr='#00810f', GradientType=1 );
	color: yellow;
	opacity: 0.85;
}
.topbar .navbar-header {
	background: rgba(0,129,15,1);
	background: -moz-linear-gradient(20deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 35%, rgba(255,20,20,1) 50%, rgba(255,20,20,1) 50%, rgba(0,129,15,1) 65%, rgba(0,129,15,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,129,15,1)), color-stop(11%, rgba(0,129,15,1)), color-stop(51%, rgba(255,20,20,1)), color-stop(51%, rgba(255,20,20,1)), color-stop(94%, rgba(0,129,15,1)), color-stop(100%, rgba(0,129,15,1)));
	background: -webkit-linear-gradient(20deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 35%, rgba(255,20,20,1) 50%, rgba(255,20,20,1) 50%, rgba(0,129,15,1) 65%, rgba(0,129,15,1) 100%);
	background: -o-linear-gradient(20deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 35%, rgba(255,20,20,1) 50%, rgba(255,20,20,1) 50%, rgba(0,129,15,1) 65%, rgba(0,129,15,1) 100%);
	background: -ms-linear-gradient(20deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 35%, rgba(255,20,20,1) 50%, rgba(255,20,20,1) 50%, rgba(0,129,15,1) 65%, rgba(0,129,15,1) 100%);
	background: linear-gradient(20deg, rgba(0,129,15,1) 0%, rgba(0,129,15,1) 35%, rgba(255,20,20,1) 50%, rgba(255,20,20,1) 50%, rgba(0,129,15,1) 65%, rgba(0,129,15,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00810f', endColorstr='#00810f', GradientType=1 );
}
.card-no-border .sidebar-nav{
	background: transparent;
}
.navbar-brand img{
	border-radius: 50%;
-webkit-box-shadow: 0px 0px 8px 7px rgba(255,0,0,1);
-moz-box-shadow: 0px 0px 8px 7px rgba(255,0,0,1);
box-shadow: 0px 0px 8px 7px rgba(255,0,0,1);
}
.sidebar-nav ul li a {
    color: #fff;
}
.sidebar-nav > ul > li > a.active, .sidebar-nav > ul > li > a:hover {
    border-left: 0;
}
.card-no-border .sidebar-nav>ul>li>a.active {
    background: #0000006b;
}
.card-no-border .sidebar-nav>ul>li>a:hover {
    background: #0000003b;
}
.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
    color: #ffe000;
}

.sidebar-nav > ul > li > a.active i, .sidebar-nav > ul > li > a:hover i {
    color: #ffe000;
}

.sidebar-nav>ul>li>a.active i, .sidebar-nav>ul>li>a:hover i {
    color: #ffe000;
}

.holding_asset_inputs{
	margin-bottom: 15px;
}
